@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Scheduling a haircut has never been this easy!</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome To barbershop, where we will help you schedule your next haircut appointment.</h2>
    </div>    
</div>